## Importing some essential libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

## importing dataset

In [2]:
df=pd.read_csv('loan_data_set.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.shape

(614, 13)

In [3]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

notice we can remove the columns id,Date and zipcode because they don't add relevant impact to our model

In [19]:
df=df.drop(['id','zipcode','date'],axis=1)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503

get our dependent and independent variable

In [20]:
x=df.drop('price',axis=1)
y=df.price

In [6]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,47.5941,-122.299,1020,1357

Now we do some feature selection so as to reduce the dimensionality of this dataset,

## Performming  dimensionality Reduction(feature_selection)using backward elimination

In [22]:
import statsmodels.api as sm
#first add a constant term to df_x
t=sm.add_constant(x)
dm=sm.OLS(y,t).fit()
dm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.695
Model:                            OLS   Adj. R-squared:                  0.695
Method:                 Least Squares   F-statistic:                     3082.
Date:                Sat, 29 Jan 2022   Prob (F-statistic):               0.00
Time:                        09:54:05   Log-Likelihood:            -2.9476e+05
No. Observations:               21613   AIC:                         5.895e+05
Df Residuals:                   21596   BIC:                         5.897e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -3.686e+07    1.6e+06    -23.105      0.000      -4e+07   -3.37e+07
bedrooms      -3.415e+04   1903.178    -17.945      0.000   -3.79e+04   -3.04e+04
bathrooms      4.216e+04   3276.490     12.868      0.000    3.57e+04    4.86e+04
sqft_living     108.7213      2.284     47.606      0.000     104.245     113.198
sqft_lot          0.1274      0.048      2.640      0.008       0.033       0.222
floors          760.6881   3605.813      0.211      0.833   -6306.972    7828.348
waterfront     5.878e+05   1.75e+04     33.625      0.000    5.54e+05    6.22e+05
view           4.943e+04   2146.437     23.028      0.000    4.52e+04    5.36e+04
condition      3.103e+04   2353.444     13.186      0.000    2.64e+04    3.56e+04
grade          9.722e+04   2166.897     44.866      0.000     9.3e+04    1.01e+05
sqft_above       70.7925      2.270     31.191      0.000      66.344      75.241
sqft_basement    37.9338      2.664     14.242      0.000      32.713      43.155
yr_built      -2456.2763     72.580    -33.842      0.000   -2598.539   -2314.014
yr_renovated     21.5324      3.680      5.850      0.000      14.318      28.746
lat            5.611e+05   1.05e+04     53.197      0.000     5.4e+05    5.82e+05
long           -1.17e+05    1.2e+04     -9.755      0.000   -1.41e+05   -9.35e+04
sqft_living15    27.4312      3.457      7.935      0.000      20.655      34.207
sqft_lot15       -0.3933      0.074     -5.330      0.000      -0.538      -0.249
==============================================================================
Omnibus:                    18537.369   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1882235.907
Skew:                           3.617   Prob(JB):                         0.00
Kurtosis:                      48.142   Cond. No.                     7.92e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.82e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

p_value of floor is high, we need to drop it

In [23]:
x=x.drop('floors',axis=1)

In [25]:
t=x

In [26]:
dm=sm.OLS(y,t).fit()
dm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.901
Method:                 Least Squares   F-statistic:                          1.315e+04
Date:                Sat, 29 Jan 2022   Prob (F-statistic):                        0.00
Time:                        09:54:59   Log-Likelihood:                     -2.9503e+05
No. Observations:               21613   AIC:                                  5.901e+05
Df Residuals:                   21598   BIC:                                  5.902e+05
Df Model:                          15
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
bedrooms      -3.598e+04   1924.736    -18.692      0.000   -3.98e+04   -3.22e+04
bathrooms      4.985e+04   3187.987     15.636      0.000    4.36e+04    5.61e+04
sqft_living     107.4693      2.299     46.750      0.000     102.963     111.975
sqft_lot          0.0268      0.049      0.551      0.582      -0.069       0.122
waterfront     5.918e+05   1.77e+04     33.431      0.000    5.57e+05    6.27e+05
view            5.25e+04   2168.493     24.211      0.000    4.83e+04    5.68e+04
condition      2.411e+04   2359.217     10.219      0.000    1.95e+04    2.87e+04
grade          1.089e+05   2128.528     51.144      0.000    1.05e+05    1.13e+05
sqft_above       62.7235      2.102     29.843      0.000      58.604      66.843
sqft_basement    44.7458      2.441     18.334      0.000      39.962      49.530
yr_built      -3181.2131     64.687    -49.178      0.000   -3308.005   -3054.421
yr_renovated     14.1853      3.709      3.825      0.000       6.916      21.455
lat            4.885e+05   1.01e+04     48.143      0.000    4.69e+05    5.08e+05
long           1.448e+05   4153.824     34.870      0.000    1.37e+05    1.53e+05
sqft_living15    10.0972      3.395      2.974      0.003       3.443      16.751
sqft_lot15       -0.5546      0.074     -7.459      0.000      -0.700      -0.409
==============================================================================
Omnibus:                    18381.727   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1764951.160
Skew:                           3.586   Prob(JB):                         0.00
Kurtosis:                      46.686   Cond. No.                     4.32e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 2.96e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

also p_value for sqft_lot is high and we need to drop it

In [27]:
x=x.drop(['sqft_lot'],axis=1)

In [28]:
t=x

In [29]:
dm=sm.OLS(y,t).fit()
dm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.901
Method:                 Least Squares   F-statistic:                          1.408e+04
Date:                Sat, 29 Jan 2022   Prob (F-statistic):                        0.00
Time:                        09:56:41   Log-Likelihood:                     -2.9503e+05
No. Observations:               21613   AIC:                                  5.901e+05
Df Residuals:                   21599   BIC:                                  5.902e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
bedrooms        -3.6e+04   1924.221    -18.710      0.000   -3.98e+04   -3.22e+04
bathrooms      4.984e+04   3187.887     15.634      0.000    4.36e+04    5.61e+04
sqft_living     107.5348      2.296     46.842      0.000     103.035     112.034
waterfront     5.917e+05   1.77e+04     33.427      0.000    5.57e+05    6.26e+05
view           5.253e+04   2167.587     24.236      0.000    4.83e+04    5.68e+04
condition       2.41e+04   2359.126     10.215      0.000    1.95e+04    2.87e+04
grade          1.089e+05   2128.489     51.144      0.000    1.05e+05    1.13e+05
sqft_above       62.7988      2.097     29.942      0.000      58.688      66.910
sqft_basement    44.7360      2.441     18.330      0.000      39.952      49.520
yr_built      -3181.6633     64.681    -49.190      0.000   -3308.443   -3054.884
yr_renovated     14.1700      3.709      3.821      0.000       6.901      21.439
lat            4.884e+05   1.01e+04     48.141      0.000    4.69e+05    5.08e+05
long           1.448e+05   4153.332     34.867      0.000    1.37e+05    1.53e+05
sqft_living15    10.0111      3.391      2.952      0.003       3.365      16.658
sqft_lot15       -0.5258      0.053     -9.957      0.000      -0.629      -0.422
==============================================================================
Omnibus:                    18377.485   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1762906.520
Skew:                           3.585   Prob(JB):                         0.00
Kurtosis:                      46.660   Cond. No.                     1.65e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 7.26e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

now this is better

In [30]:
x

,bedrooms,bathrooms,sqft_living,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,3,2.25,2570,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,2,1.00,770,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,4,3.00,1960,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,3,2.00,1680,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,0,0,3,8,1530,0,2009,0,47.6993,-122.346,1530,1509
21609,4,2.50,2310,0,0,3,8,2310,0,2014,0,47.5107,-122.362,1830,7200
21610,2,0.75,1020,0,0,3,7,1020,0,2009,0,47.5944,-122.299,1020,2007
21611,3,2.50,1600,0,0,3,8,1600,0,2004,0,47.5345,-122.069,1410,1287
21612,2,0.75,1020,0,0,3,7,1020,0,2008,0,47.5941,-122.299,1020,1357

## preformming split to the dataset to have test set and train set

In [31]:
x=x.values
y=y.values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

# performming feature scaling using standarzation

In [34]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_x_train=scaler.fit_transform(x_train)
scaled_x_test=scaler.transform(x_test)

## trainning our models with these dataset using kfold validation

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [42]:
cross_val_score(LinearRegression(),scaled_x_train,y_train,cv=5)

array([0.71168891, 0.68869329, 0.69067521, 0.68975741, 0.6811043 ])

In [46]:
cross_val_score(SVR(),x_train,y_train,cv=5)

array([-0.06633296, -0.07309549, -0.05997977, -0.06103981, -0.04636255])

In [50]:
cross_val_score(DecisionTreeRegressor(),scaled_x_train,y_train,cv=5)

array([0.7521256 , 0.76892349, 0.77174893, 0.66604764, 0.73727112])

In [51]:
cross_val_score(RandomForestRegressor(),scaled_x_train,y_train,cv=5)

array([0.88017133, 0.87525086, 0.88260559, 0.8406146 , 0.86399662])

from this you can see that randomforestregressor is the best

# our model

In [52]:
model=RandomForestRegressor()
model.fit(scaled_x_train,y_train)

RandomForestRegressor()

## prediction

In [56]:
y_pred=model.predict(scaled_x_test)
y_pred

array([ 426332.28,  646529.5 ,  315783.1 , ..., 1034863.38,  451254.5 ,
        444259.01])

### model evaluation

In [61]:
from sklearn.metrics import r2_score
r=r2_score(y_test,y_pred)
r

0.8747155993870045

### save model

In [71]:
import pickle
pickle.dump(model,open('Model_Predictor','wb'))

### load the model and use it for singe prediction

In [74]:
model=pickle.load(open('Model_Predictor','rb'))

In [ ]:
model.predict(scaler.transform([[3,1.00,1180,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650]]))